main {
    width: 80%;
}

.afirstview {
    height: calc(100vh - 6rem);
    display: flex;
    align-items: center;
}

.ainfocontent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 60%;
}

.aimgcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 22%;
}

.imgflower {
    width: 30rem;
    position: absolute;
    animation: spinright 40s linear infinite;
}

.imgmoa {
    border-radius: 50%;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    position: absolute;

}

.aabout {
    font-size: 1.2rem;
}

.aabouttext {
    width: 80%;
    margin-top: 1rem;
}

.tools  {
    margin-top: 1rem;
}

.tools p {
    font-size: 1.2rem;
}

.tools img {
    width: 3rem;
    margin-right: 0.4rem;
}