/* Tablet */
@media (max-width: 820px) {
    /* header */
    header {
        width: 90%;
    }
	li {
        font-size: 1.4rem;
    }

    .moamoa{
        width: 4rem;
    }

    /* main */
    main {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 480px) {	
	.menu {
        display: block;
        width: 2rem;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    li a{
        color: #fff;
    }

    .nav-menu {
        position: fixed;
        right: -100%;
        top: 80px;
        flex-direction: column;
        background-color: #120059;
        width: 100%;
        text-align: center;
        color: #fff;
        transition: 0.3s;
    }

    .nav-item {
        margin: 1rem 0;
    }

    .nav-menu.active {
        right: 0;
    }

    h1 {
        font-size: 2.3rem;
    }

    .firstview p {
        font-size: 1.5rem;
    }

    .purpleflower {
        width: 50%;
        top: 46%;
        left: -10%;
    }

    .greenflower {
        width: 30%;
        top: 0%;
        right: 6%;
    }

    .blueflower {
        width: 60%;
        top: 30%;
        left: 10%;
    }

    .lightpurpleflower {
        width: 30%;
        right: 18%;
    }

    .card {
        width: 8rem;
        height: 18rem;
    }

    .card .mainimage {
        width: 8rem;
        height: 7rem;
    }
}
