/* Tablet */
@media (max-width: 820px) {
    /* header */
    header {
        width: 90%;
    }
	li {
        font-size: 1.4rem;
    }

    .moamoa{
        width: 4rem;
    }

    /* main */
    main {
        width: 100%;
    }
}

/* Mobile */
@media (max-width: 480px) {	
	.menu {
        display: block;
        width: 2rem;
    }

    ul {
        display: none;
    }
}
