/* portfolio styling */
.pfirstview {
    height: calc(100vh - 6rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pimage img{
    width: 40rem;
    height: 32rem;
    object-fit: cover;
    border-radius: 1.25rem 0 0 1.25rem;
}

.projectcontainer {
    display: flex;
    background-color: #E2D1FF;
    border-radius: 1.25rem;
    height: 32rem;
}

.projectcontainer:hover {
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
}

.ptext {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.showproject {
    margin-top: 13rem;
    margin-right: 0;
}

.ptextcontent h3 {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
}

.ptitlesubject {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ptextinfo {
    margin-bottom: 0.6rem;
}

.ptextsubject {
    font-size: 0.8rem;
    margin-right: 1rem;
}

.psecondview {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ppflower {
    width: 15%;
    position: absolute;
    top: 8%;
    left: 0%;
    z-index: 1;
    animation: spinright 50s linear infinite;
}

.pgflower {
    width: 10%;
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 1;
    animation: spinleft 50s linear infinite;
}

.pblueflower {
    width: 15%;
    position: absolute;
    top: 98%;
    left: 14%;
    z-index: 1;
    animation: spinleft 50s linear infinite;
}